/* Bottom to Top key frame*/
@-webkit-keyframes BottomToTop {
    49% {
        -webkit-transform : translateY(-100%);
        }
    50% {
        opacity           : 0;
        -webkit-transform : translateY(100%);
        }
    51% {
        opacity : 1;
        }
    }
@-moz-keyframes BottomToTop {
    49% {
        -moz-transform : translateY(-100%);
        }
    50% {
        opacity        : 0;
        -moz-transform : translateY(100%);
        }
    51% {
        opacity : 1;
        }
    }
@keyframes BottomToTop {
    49% {
        transform : translateY(-100%);
    }
    50% {
        opacity   : 0;
        transform : translateY(100%);
    }
    51% {
        opacity : 1;
    }
}
/* DoublePulse */
@-webkit-keyframes doublePulse {
    0% {
        -webkit-transform: scale(.6);
        transform: scale(.6);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@keyframes doublePulse {
    0% {
        -webkit-transform: scale(.6);
        transform: scale(.6);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}